@{
    ViewBag.Title = "About";
    <!--Layout = null;-->
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/CSS/styleAbout.css" type="text/css"/>
</head>

<body>
    <section class="containerPrincipal">

        <div class="texto">
            <h1>Fazendas Barbosa</h1>
            <div class="barra-separadora"></div>
            <br />
            <p>No mundo cada vez mais urbano de hoje, o desejo por acesso à natureza aumentou drásticamente e foi com essa paixão em mente que Sebastião Barbosa de Freires, um verdadeiro visionário da agricultura urbana, resolvou transformar seu sonho em realidade!</p>
            <br />
            <p>
                Barbosa viu o lar onde vive, e com a natureza incrivelmente longe, ele decidiu que era hora de trazer a natureza para mais perto! <br />
                Crendo que a Vida Urbana e a Produção Sustentável de alimentos podem se coincidir, Barbosa criou um projeto que se tornou possível devido à sua paixão, e a tecnologia.
            </p>
            <br />
            <p>
                Com métodos de crescimento inovadores, a Fazenda Barbosa marca o início de uma nova onda de agricultura urbana em Osasco.
                Localizada estratégicamente no Ceasa - Jaguaré, a fazenda utiliza técnicas de cultivo de ponta, incluindo a agricultura hidropônica e vertical, possibilitando assim o cultivo de vários tipos de vegetais e legumes!
                Deste modo, os agricultores obtêm uma colheita otimizada sem uso de produtos químicos prejudiciais ao ambiente!
            </p>
            <br />
            <p>
                A Fazenda Barbosa tem como missão conectar as pessoas à natureza, promovendo a Agricultura Sustentável e a Segurança Alimentar em áreas urbanas!<br />
                A fazenda é um espaço de aprendizado e experimentação, onde a comunidade pode conhecer de perto os processos de produção de alimentos e se conectar com a natureza.
                Através de visitas guiadas, oficinas e projetos educativos, a fazenda busca conscientizar a população sobre a importância da agricultura urbana e incentivar a adoção de hábitos mais saudáveis e sustentáveis.
                <br />
                <br />
                
            </p>
        </div>

        <section>
            <div class="slider">

                <div class="slides">

                    <!-- Imagens -->
                    <div class="slide primeiro">
                        <img src="~/Imagens/Farm1.jpg" alt="a1" />
                    </div>
                    <div class="slide segundo">
                        <img src="~/Imagens/Farm2.jpg" alt="a2" />
                    </div>
                    <div class="slide terceiro">
                        <img src="~/Imagens/Farm3.jpg" alt="a3" />
                    </div>
                    <div class="slide quarto">
                        <img src="~/Imagens/Farm4.jpg" alt="a4" />
                    </div>

                </div>

            </div>
            
            <div class="texto">
                <cite>A crença de Barbosa em um futuro mais verde para Osasco inspira a todos que buscam um estilo de vida mais conectado com a natureza!</cite>
            </div>

        </section>

        <section>

            <div class="botoes-teste">
                <button onclick="window.location.href = 'https://farmskins.com/';">Visite nossa Fazenda</button>
                <button onclick="window.location.href = 'https://www.cgd.pt/Site/Saldo-Positivo/Sustentabilidade/Pages/agricultura-sustentavel.aspx';">Nossos meios de cultivo</button>
            </div>

        </section>

    </section>

    <script src="~/Scripts/carrossel.js"></script>
</body>